<div class="row">
<div class="col-md-3">
  <h3>Day 1</h3>
  <table class="table table-striped">
  <tr><td>Before starting</td>
  <td><a href="{{ site.dc_pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td></tr>
    <tr> <td>09:00</td>  <td>Automating tasks with the Unix shell</td> </tr>
    <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
    <tr> <td>10:15</td>  <td>Unix Shell (continued)</td> </tr>
  </table>
</div>

<div class="col-md-3">
<h3>Day 2</h3>
<table class="table table-striped">
  <tr> <td>09:00</td>  <td>Version control with Git</td> </tr>
  <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
  <tr> <td>10:15</td>  <td> Git (continued)</td> </tr>

</table>
</div>

<div class="col-md-3">
<h3>Day 3</h3>
<table class="table table-striped">
  <tr> <td>09:00</td>  <td>Building programs with Python</td> </tr>
  <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
  <tr> <td>10:15</td>  <td>Python (continued)</td> </tr>

</table>
</div>

<div class="col-md-3">
<h3>Day 4</h3>
<table class="table table-striped">
  <tr> <td>09:00</td>  <td>Python (continued)</td> </tr>
  <tr> <td>10:00</td>  <td>Coffee break</td> </tr>
  <tr> <td>10:15</td>  <td>Python (continued)</td> </tr>
  <tr><td>Before leaving</td><td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
</table>
</div>
</div>
